[header.first]
var1    = 1
var2    = 2 * 10  // Inline comment

/* Block comment line 1
Block comment line 2
Block comment line 3
Block comment line 4 */

[header.second]
var2    = 2 * 10**-1
var3    = "string1"
var4    = 1.2
var5    = (
    key1 => "value1"/* Block 2 */,
    key2 => "value2", /* Block
    asd */
    key3 => 1.2,
    key4 => 3
)

var6    = ("value1", "value2",5,6.2)

var7    = (
    key15 => "value1"/* Block 2 */,
    key12 => "value2"
)